// Breakpoints
$layout-breakpoint-xlarge: 1289px;
$layout-breakpoint-large: 989px;
$layout-breakpoint-medium: 739px;
$layout-breakpoint-small: 479px;
$layout-breakpoint-xsmall: 369px;
$layout-breakpoint-xxsmall: 281px;

// Colors
$background: #1e1e1e;
$white: #fff;
$black: #000;
$dark: #1e1e1e;
$dark-grey: #302f32;
$grey: #484b52;
$light-grey: #d9d9d9;
$gold: #947a47;
