// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #1E1E1E;
$white: #fff;
$black: #000;
$dark: #1E1E1E;
$dark-grey: #302F32;
$grey: #484B52;
$light-grey: #D9D9D9;
$gold: #947A47;