.landing-section {
  margin: 0 15rem 0 15rem;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 0 30rem 0;
}
@media screen and (max-width: 479px){
  .landing-section {
    margin: 0 2rem 0 2rem;
  }
  }

.banner-container {
  line-height: 0.8;
  width: 90vw;
}

.landing-message-container {
  text-align: center;
}


