.nav-section {
  padding: 2em 3em;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width:50px;
  span {
    width: 6rem;
    height: 1rem;
    background: $white;
  }

}