.nav-section {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 15rem;
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background;
  z-index: 101;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  span {
    width: 6rem;
    height: 1rem;
    background: $white;
  }
}

.menu-icon {
  transition: all 0.8s ease-in-out;
}

#hamburger-menu-open {
  span::before {
    display: block;
    content: " ";
    width: 3rem;
    height: 1rem;
    background: $white;
    transform: rotate(45deg) translateY(1rem);
    transition: all 0.8s ease-in-out;
  }
  span::after {
    display: block;
    content: " ";
    width: 3rem;
    height: 1rem;
    background: $white;
    transform: rotate(315deg) translateY(-1.75rem) translateX(1rem);
    transition: all 0.8s ease-in-out;
  }
}

.menu-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15rem;
  left: 0;
  min-height: calc(100vh - 15rem);
  min-width: 100vw;
  padding: 2rem;
  z-index: 100;
  background: $white;
  color: $background;
  transform: translateY(-100vh);
  opacity: 0.000001;
  transition: all 0.8s ease-in-out;
}

#menu-dropdown-container-open {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.menu-dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  transition: all 3s ease-in;
}

.menu-dropdown-item {
  overflow: hidden;
  transition: all 3s ease-in;
}

.menu-dropdown-item h1 {
  opacity: 0.000001;
  transform: translateY(5rem);
  transition: all 0.3s ease-in;
}

.menu-dropdown-item-open h1 {
  opacity: 1;
  transform: translateY(0);
  transition: all 3s ease-in;
}
