.nav-section {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 15rem;
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $background;
  z-index: 100;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width:50px;
  span {
    width: 6rem;
    height: 1rem;
    background: $white;
  }

}