.products-section {
  margin: 0 15rem 0 15rem;
  max-width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10rem;
  padding-bottom: 50rem;
  transition: ease-in duration(0.8);
}

@media screen and (max-width: $layout-breakpoint-small) {
  .products-section {
    margin: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: $layout-breakpoint-medium) {
  .products-section {
    margin: 0 5rem 10rem 5rem;
  }
}

@media screen and (max-width: $layout-breakpoint-large) {
  .products-section {
    margin: 0 7.5rem 10rem 7.5rem;
  }
}

.products-section-header-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100vw - 4rem);
  text-align: left;
  overflow: hidden;
  span: {
    width: 100%;
  }
}

.products-section-header-container span {
  height: 1px;
  width: 50%;
  background: $white;
}

.block-divider {
  display: block;
  height: 2px;
  background-color: $white;
}
